
li img{
    border: 4px solid rgb(0, 0, 0);
}
.galeria_fotos{
    background: radial-gradient(
        #000000 4%,
        #2e3644 30%,
        #311b1b 85%,
        #ffffff 62%,
        #555a85
    );
    width: 100%;
    height: auto;
    margin-right: 200px;
    margin-top: 10px;
    position:absolute;
    border: 3px solid #000000;
    
}
.galeria_fotos img{
    width: 340px;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.galeria_fotos img:active{
    backface-visibility: hidden;
}
.galeria_fotos img:hover{
    box-shadow: 5px 5px 10px 5px #5E82A3;
    width: 350px;
}

.fila1,.fila2, .fila3,.fila4, ul li {
    display: inline-block; 
    text-decoration: none;
    margin-left: 0px;
}



